
<br>

<h2>Welcome <%=session[:name]%>!</h2>

<h4>All the songs in our hub:</h4>

<table>
  <tr>
    <th style="padding: 2px;">Artist</th>
    <th style="padding: 2px;">Title</th>
    <th style="padding: 2px;"># of song adds</th>
    <th style="padding: 2px;">Add to Playlist</th>
  </tr>
  <% for song in @songs %>
    <% @count = 0 %>
  <tr>
    <td style="padding: 5px;"><%=song.artist%></td>
    <td style="padding: 5px;"><a href="/songs/<%=song.id%>/show"><%=song.title%></a></td>
    <td style="padding: 5px;">
    <% for list in @songlist%>
      <% if song.id == list.song_id %>
        <% @count += 1 %>
      <% end %>
    <%end%>
    <%= @count %>
    </td>
    <td style="padding: 5px;">
      <a href="/songs/<%=song.id%>/add"><button>Add</button></a>
    </td>
  </tr>
  <% end %>
</table>

<% if flash[:message] %>
  <% flash[:message].each do |msg| %>
    <p><h3><i><%=msg%></h3></i></p>
  <%end%>
<%end%>


<h4>Add a song:</h4>
<form action="/songs/create" method='post'>
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<table>
  <tr><td>Title:</td><td><input type="text" name="title"></td></tr>
  <tr><td>Artist:</td><td><input type="text" name="artist"></td></tr>
  <tr><td><input type="submit" value="Add Song"></td></tr>
</table>
</form>

<br><br>
<a href="/logout"><button>logout</button></a>
